/* inter-vietnamese-wght-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./assets/fonts/inter-vietnamese-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./assets/fonts/inter-vietnamese-600-normal.woff2') format('woff2');
}

html,
body, 
#root {
  font-family: 'Inter', sans-serif;
}

button,
input,
select,
textarea {
  font: inherit;
}

.app-layout{
  display:flex;

  height:100vh;

  overflow:hidden;
}

.sidebars {
  position: relative;
  display: flex;
  transition: width 0.3s ease;
}

.sidebars.collapsed {
  width: 0;
  overflow: hidden;
}

.collapse-btn {
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);

  width: 28px;
  height: 28px;
  border-radius: 50%;

  border: 1px solid #ddd;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 10;
  transition: 0.2s;
}

.collapse-btn:hover {
  background: #f5f5f5;
}

.main-content{
  flex:1;

  padding:30px;

  overflow-y:auto;
}

